@keyframes colorCicle{ // animaçao pra trocar as cores das letras
  0%, 55%{ 
    filter: brightness(0) invert(1); // branco 
  }
  11%, 33%{
    filter: none; // colorido
  }
}
main{
  max-width: 1040px;
  flex: 1px;
  display: flex;
   flex-direction: column; //deixa os elementos em coluna
   align-items: center;
   justify-content: center;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center; // centraliza os items
  text-align: center; // centraliza o texto 
  font-size: 128px;
  line-height: 100%; // espaço entre as linhas 
  letter-spacing: -1.24rem;
  color: var(--white);

  span{
    padding: 0 0.67rem;
    filter: brightness(0) invert(1);

    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: colorCicle 10s ease-in-out infinite;
  }

  span:nth-child(1){
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  }

  span:nth-child(2){
    background-image: linear-gradient(90deg, #d65b5b, #e06ed1);
    animation-delay: 3.33s;
  }

  span:nth-child(3){
    background-image: linear-gradient(90deg, #dfdd63, #df4700);
    animation-delay: 6.66s;
  }
  
 
}

.buttons{
   margin-top: 50px;
   display: flex;
   align-items: center;
   > button{
     background: var(--white);
     color:var(--black);
     padding: 15px;
     margin: 12px 15px;
     border: 1px solid var(--white);
     font-size: 16px;
     font-weight: 500;
     cursor: pointer;
     transition: 0.2s ease-in; // cria uma animaçao de 2 segundos 
     &.outlined{
        background: transparent;
        color: var(--gray);
        border: 1px solid var(--gray);
     }
     &:hover{ // para o botao mudar de cor 
       background: transparent;
       color: var(--white);
       border: 1px solid var(--gray);
      }
   }
}

h2{
  margin-top: 64px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
}



